﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
 

    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
       
        <div class="row">
            <div class="col">
                <label for="fname">First name:</label>
                <input type="text" id="fname" name="fname"><br><br>
            </div>

            <div class="col">
                <label for="lname">Last name:</label>
                <input type="text" id="lname" name="lname"><br><br>
            </div>

          
                <div style="text-align:right;">
                    <button type="submit" name="InitializeGrid">Login</button>
                    <br />
                    <br />
                </div>
            
        </div>

    }
</div>
